#my-scroll {
    .content {
        width: 200%;
    }
}

#my-scroll {
    .content .page.one {
        .item {
            &:nth-child(1) {
                width: 30%;
                aspect-ratio: 3 / 4;
                top: 10%;
                left: 10%;
                background-color: #212121;
            }
            &:nth-child(2) {
                width: 25%;
                aspect-ratio: 4 / 3;
                bottom: 10%;
                left: 35%;
                background-color: #424242;
            }
            &:nth-child(3) {
                width: 30%;
                aspect-ratio: 4 / 3;
                top: 15%;
                right: 2%;
                background-color: #eee;
            }
        }
    }

    .content .page.two {
        .item {
            &:nth-child(1) {
                width: 30%;
                aspect-ratio: 5 / 3;
                bottom: 10%;
                left: 10%;
                background-color: #424242;
            }
            &:nth-child(2) {
                width: 20%;
                aspect-ratio: 4 / 3;
                top: 10%;
                left: 25%;
                background-color: #212121;
            }
            &:nth-child(3) {
                width: 40%;
                aspect-ratio: 3 / 2;
                top: 30%;
                right: 5%;
                background-color: #eee;
            }
        }
    }
}
