<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Horizontal Scroll</title>
        <link rel="stylesheet" href="../../common/style.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="my-scroll" class="scroll-container">
            <div class="content">
                <div class="page one">
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                </div>
                <div class="page two">
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                </div>
            </div>
        </div>
        <script type="module" src="script.js"></script>
    </body>
</html>
