<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Independent Scroll</title>
        <link rel="stylesheet" href="../../common/style.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="my-scroll-container" class="scroll-container">
            <section></section>
            <section class="sticky-container">
                <div class="sticky-item"></div>
                <div class="scroll-item">
                    <div class="eos"></div>
                </div>
            </section>
            <section></section>
        </div>
        <script type="module" src="script.js"></script>
    </body>
</html>
